/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Marc Schumann <wurblzap@gmail.com>
  */

.bz_comment_text {
     white-space: pre;
     word-wrap: break-word;
}

#footer #useful-links li {
    padding-bottom: 0.8ex;
}

#footer .label {
    display: block;
    float: left;
    width: 8.2em;
    padding-bottom: 0.1ex;
}

#footer #links-actions .label {
    padding-top: 0.35em;
}

#footer .links {
    display: inline;
}
